<%- include('../layouts/layout') %>

<h2>Edit Recipe</h2>
<form action="/recipes/<%= recipe._id %>?_method=PUT" method="POST">
  <label>Name:</label>
  <input type="text" name="name" value="<%= recipe.name %>" required><br>

  <label for="type">Type:</label>
  <select id="type" name="type">
    <option value="Food" <%= recipe.type === 'Food' ? 'selected' : '' %>>Food</option>
    <option value="Drink" <%= recipe.type === 'Drink' ? 'selected' : '' %>>Drink</option>
  </select><br>

  <label for="cuisine">Cuisine:</label>
  <select id="cuisine" name="cuisine">
    <option value="Italian" <%= recipe.cuisine === 'Italian' ? 'selected' : '' %>>Italian</option>
    <option value="Puerto Rican" <%= recipe.cuisine === 'Puerto Rican' ? 'selected' : '' %>>Puerto Rican</option>
  </select><br>

  <label>Ingredients (comma-separated):</label>
  <textarea name="ingredients"><%= recipe.ingredients.join(', ') %></textarea><br>

  <label>Instructions:</label>
  <textarea name="instructions" required><%= recipe.instructions %></textarea><br>

  <label>Difficulty:</label>
  <select name="difficulty">
    <option value="Easy" <%= recipe.difficulty === 'Easy' ? 'selected' : '' %>>Easy</option>
    <option value="Medium" <%= recipe.difficulty === 'Medium' ? 'selected' : '' %>>Medium</option>
    <option value="Hard" <%= recipe.difficulty === 'Hard' ? 'selected' : '' %>>Hard</option>
  </select><br>

  <label for="imageUrl">Image URL:</label>
  <input type="text" id="imageUrl" name="imageUrl" value="<%= recipe.imageUrl %>"><br>

  <button type="submit">Update</button>
</form>
